.container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;

    .register-form {
        width: 360px;
        margin: auto;
        text-align: center;
        border-radius: 10px;

        h1 {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            text-align: left;
            margin-top: 190px;
            margin-bottom: 53px;
            font-size: 2.5em;
            font-weight: bold;
        }
        h2 {
            text-align: left;
            font-size: 1.8em;
            margin-bottom: 4px;
            font-weight: 500;
        }
        span{
            display: block;
            text-align: left;
            color: #c2bcbc;
        }
        .errorMsg{
            margin-top: 1rem;
            margin-bottom: -1rem;

            span{
                text-align: left;
                color: crimson;
            }
        }
        .form-group {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            margin-bottom: 18px;
    
            label {
                text-align: left;
                font-size: 0.875em;
                font-weight: bold;
                margin-bottom: 5px;
            }
            input {
                padding: 10px;
                font-size: 0.875em;
                border: 1px solid #c2bcbc;
                border-radius: 4px;
            }
        }
        .btn-container{
            width: 100%;
            display: flex;
            align-content: flex-start;
            button {
                background-color: #4b9934;
                padding: 10px 20px;
                border: none;
                color: white;
                font-size: 0.875em;
                font-weight: bold;
                cursor: pointer;
            }
            button:hover {
                background-color: #4c993462;
            }
        }
        img{
            width: 170px;
            height: 80px;
            margin-top: 160px;
        }
    }
    .img-signup{
        opacity: 0.8;
        width: 70%;
        height: 100vh;
        background: url(/assets/image/food_img.jpg) no-repeat center center;
        background-size: cover;
        display: flex;
    }
}

