::ng-deep .modal-product-container {
    mat-dialog-container {
        background-color: white;
        padding: 0;
    }
  }

.details-modal-title{
    padding: 5rem;
    display: flex;
    color: black;
    justify-content: space-around;
    color: black;

    .details-product{
        width: 60%;

        .label{
            font-weight: bold;
        }

        .details-labels{
            display: flex;
            flex-wrap: wrap;
            span{
                margin-right: 5px;
            }
        }
        button {
            background-color: #4b9934;
            margin-top: 1rem;
            padding: 10px 20px;
            border: none;
            color: white;
            font-size: 0.875em;
            cursor: pointer;
        }
        button:hover {
            background-color: #4c993462;
        }
        
    }
}