<div class="container">
    <form class="register-form">
        <h1>Create an Account</h1>
        <div class="form-group">
            <label for="name">Nom d'utilisateur</label>
            <input type="text" id="name" placeholder="Entrez votre nom d'utilisateur">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Entrez votre email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" placeholder="Entrez votre mot de passe">
        </div>
        <button type="submit">S'enregistrer</button>
    </form>
</div>