<div class="container-card" *ngFor="let nutri of openFoodProduct;" (click)="openProductHandler(nutri)">
    <div class="img-card">
        <img src="{{nutri.image_small_url}}" alt="">
    </div>
    <div class="details">
        <h2>{{nutri.brands}}</h2>
        <p>{{nutri.generic_name_fr}}</p>
        <div class="score">
            <img src="/assets/image/svg/nutriscore/nutriscore-{{nutri.nutriscore_grade}}.svg" alt="">
            <img src="/assets/image/svg/ecoscore/ecoscore-{{nutri.ecoscore_grade}}.svg" alt="">
        </div>
    </div>
</div>
