<app-spinner></app-spinner>
<header>
    <div class="logo">
        <span>Pur Beurre</span>
    </div>
    <div class="menu">
        <ul>
            <li>Le catalogue</li>
            <li><a href="https://fr.openfoodfacts.org/">Site open food facts</a></li>
        </ul>
    </div>
</header>
<main>
    <div>
        <select name="" id="" (change)="selectChangeCategories($event)">
            <option *ngFor="let i of collectionCategories;" value="{{i.url}}">{{ i.name }}</option>
        </select>
        <select (change)="selectChangeHandlerScore($event)" style="position:relative; left: 100px">
            <option value="nutriscore">Notes nutritionnelles</option>
            <option value="ecoScore">Eco-Score</option>
        </select>
    </div>
    <section>
        <app-card
            [openFoodProduct]="openFoodProduct"
        ></app-card>
    </section>
</main>

<app-modal-signin></app-modal-signin>