main{
    width: 75%;
    margin: auto;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;

    .container-card{
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 30%);
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    
        .img-card{
            height: 200px;
            padding: 10px;
        }
        .details{
            text-align: center;
            margin-top: 25%;
            h2{
                line-height: 23px;
            }
        }
        img{
            width: 125px;
            height: 100%;
        }
        .score{
            img{
                width: 50px;
                height: 20px;
            }
        }
        button{
            background-color: crimson;
            padding: 10px 20px;
            border: none;
            color: white;
            font-size: 0.875em;
            cursor: pointer;
        }
    }
}
img{
    width: 30%;
}

