<form class="login-form">
    <h1>Connexion</h1>
    <div class="form-group">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" placeholder="Enter password">
    </div>
    <button type="submit">Connexion</button>
    <p>Vous n'avez pas de compte ? <a routerLink="/signup">Inscrivez-vous</a></p>
</form>